<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.adaptlab.chpir.android.survey"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.activeandroid.app.Application" >
        <activity
            android:name="org.adaptlab.chpir.android.survey.InstrumentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SurveyActivity" />
        <activity android:name=".AdminActivity" />
        <service android:name="org.adaptlab.chpir.android.activerecordcloudsync.PollService" />
      	<meta-data android:name="AA_DB_NAME" android:value="Survey.db" />
        <!-- <meta-data android:name="AA_DB_VERSION" android:value="1" /> -->
        <meta-data android:name="SEED_DB" android:value="false" /> 
    </application>

</manifest>
