<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.adaptlab.chpir.android.survey"
    android:versionCode="8"
    android:versionName="1.7" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <permission android:name="org.adaptlab.chpir.android.survey.LAUNCH_SURVEY" android:protectionLevel="signature" />
    <permission android:name="org.adaptlab.chpir.android.survey.LIST_INSTRUMENTS" android:protectionLevel="signature" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:required="true" android:name="android.hardware.location.gps"/>
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.activeandroid.app.Application" >
        <activity
            android:name="org.adaptlab.chpir.android.survey.InstrumentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SurveyActivity"
            android:uiOptions="splitActionBarWhenNarrow"  />
        <activity android:name=".AdminActivity" />
        <activity android:name=".LoginActivity" android:noHistory="true" />
        <activity android:name=".ReviewPageActivity" />
        <service android:name="org.adaptlab.chpir.android.activerecordcloudsync.PollService" />
        <receiver android:name="org.adaptlab.chpir.android.survey.Receivers.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.adaptlab.chpir.android.survey.Receivers.SurveyLaunchReceiver"
            android:permission="org.adaptlab.chpir.android.survey.LAUNCH_SURVEY">
            <intent-filter>
                <action android:name="org.adaptlab.chpir.android.survey.start_survey" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.adaptlab.chpir.android.survey.Receivers.InstrumentListReceiver"
            android:permission="org.adaptlab.chpir.android.survey.LIST_INSTRUMENTS">
            <intent-filter>
                <action android:name="org.adaptlab.chpir.android.survey.get_instrument_list" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.adaptlab.chpir.android.survey.Receivers.NetworkStateChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".LocationReceiver" android:exported="false">
            <intent-filter>
                <action android:name="org.adaptlab.chpir.android.survey.Location.ACTION_LOCATION"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.adaptlab.chpir.android.survey.Receivers.NotificationReceiver" />
        <meta-data android:name="AA_DB_NAME" android:value="Survey.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="27" />    
        <meta-data android:name="SEED_DB" android:value="false" /> 
        <meta-data android:name="com.crashlytics.ApiKey" android:value="@string/crashlytics_api_key"/>
    </application>

</manifest>
